DATABASE_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/OptPlanDB
PORT=5000
JWT_ACCESS_SECRET=generate-with-crypto-randomBytes
JWT_ACCESS_EXPIRES_IN=15m
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
